
@{
}
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Materia</label>
            <select class="form-control agregar-horario select2" id="materias_formulario" disabled>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Hora Inicio</label>
            <div class="input-group date" id="timepicker" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input agregar-horario" disabled data-target="#timepicker" id="hora_ini" onKeyPress="return soloNumeros(event)" />
                <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Hora Fin</label>
            <div class="input-group date" id="timepicker_fin" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input agregar-horario" disabled data-target="#timepicker_fin" id="hora_fin" onKeyPress="return soloNumeros(event)" />
                <div class="input-group-append" data-target="#timepicker_fin" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Día Semana</label>
            <select class="form-control agregar-horario" id="dia_semana_horario" disabled>
                <option value="0">Selecciona</option>
                <option value="l">Lunes</option>
                <option value="m">Martes</option>
                <option value="x">Miércoles</option>
                <option value="j">Juéves</option>
                <option value="v">Viernes</option>
                <option value="s">Sábado</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" style="margin-top:14%;" disabled id="btn_formulario_horarios" onclick="agregarMateriaHorario();">Agregar al Horario</button>
    </div>
</div>