@{
}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <label>Nombre del Curso:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <select class="select2 form-control" id="nombre_curso">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <label>Nombre Materia:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <select class="select2 form-control" id="nombre_materia" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <label>Día de Semana:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <select class="select2 form-control" id="dia_semana" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <label>Horario:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <select class="select2 form-control" id="horario_inicial_final" disabled>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" style="margin-top:14%;" disabled id="btn_agregar_materia_profesor">
                    <span class="info-box-icon bg-primary" style="width: 54px; margin-top: 4px;"><i class="fas fa-plus"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>