@{
}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <label>Número Documento:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" autocomplete="off" class="form-control" id="documento_profesor_enlace" disabled />
                </div>
            </div>
            <div class="col-md-3">
                <label>Nombre Profesor:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" autocomplete="off" class="form-control" id="nombre_profesor_enlace" disabled />
                </div>
            </div>
            <div class="col-md-3">
                <label>Nombre Usuario:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" autocomplete="off" class="form-control insumos-prestar" id="usuario_profesor_enlace" disabled />
                </div>
            </div>
            <div class="col-md-3">
                <label>Correo Electrónico:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-mail-bulk"></i></span>
                    </div>
                    <input type="text" autocomplete="off" class="form-control insumos-prestar" id="correo_profesor_enlace" disabled />
                </div>
            </div>
        </div>
    </div>
</div>