@{
}
<style>
    .scrollbar {
        height: 68vh;
        width: 100%;
        min-width: 150px;
        background: #fff;
        overflow-y: scroll
    }
    .progress-bar {
        background-color: #ffffff !important;
    }
</style>

<div class="card scrollbar">
    <div class="card-body p-0 overflow">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 1px;">Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Juéves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td>6:30</td>
                    <td id="l-6_30-AM"></td>
                    <td id="m-6_30-AM"></td>
                    <td id="x-6_30-AM"></td>
                    <td id="j-6_30-AM"></td>
                    <td id="v-6_30-AM"></td>
                    <td id="s-6_30-AM"></td>
                </tr>
                <tr>
                    <td>7:00</td>
                    <td id="l-7_00-AM"></td>
                    <td id="m-7_00-AM"></td>
                    <td id="x-7_00-AM"></td>
                    <td id="j-7_00-AM"></td>
                    <td id="v-7_00-AM"></td>
                    <td id="s-7_00-AM"></td>
                </tr>
                <tr>
                    <td>7:30</td>
                    <td id="l-7_30-AM"></td>
                    <td id="m-7_30-AM"></td>
                    <td id="x-7_30-AM"></td>
                    <td id="j-7_30-AM"></td>
                    <td id="v-7_30-AM"></td>
                    <td id="s-7_30-AM"></td>
                </tr>
                <tr>
                    <td>8:00</td>
                    <td id="l-8_00-AM"></td>
                    <td id="m-8_00-AM"></td>
                    <td id="x-8_00-AM"></td>
                    <td id="j-8_00-AM"></td>
                    <td id="v-8_00-AM"></td>
                    <td id="s-8_00-AM"></td>
                </tr>
                <tr>
                    <td>8:30</td>
                    <td id="l-8_30-AM"></td>
                    <td id="m-8_30-AM"></td>
                    <td id="x-8_30-AM"></td>
                    <td id="j-8_30-AM"></td>
                    <td id="v-8_30-AM"></td>
                    <td id="s-8_30-AM"></td>
                </tr>
                <tr>
                    <td>9:00</td>
                    <td id="l-9_00-AM"></td>
                    <td id="m-9_00-AM"></td>
                    <td id="x-9_00-AM"></td>
                    <td id="j-9_00-AM"></td>
                    <td id="v-9_00-AM"></td>
                    <td id="s-9_00-AM"></td>
                </tr>
                <tr>
                    <td>9:30</td>
                    <td id="l-9_30-AM"></td>
                    <td id="m-9_30-AM"></td>
                    <td id="x-9_30-AM"></td>
                    <td id="j-9_30-AM"></td>
                    <td id="v-9_30-AM"></td>
                    <td id="s-9_30-AM"></td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td id="l-10_00-AM"></td>
                    <td id="m-10_00-AM"></td>
                    <td id="x-10_00-AM"></td>
                    <td id="j-10_00-AM"></td>
                    <td id="v-10_00-AM"></td>
                    <td id="s-10_00-AM"></td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td id="l-10_30-AM"></td>
                    <td id="m-10_30-AM"></td>
                    <td id="x-10_30-AM"></td>
                    <td id="j-10_30-AM"></td>
                    <td id="v-10_30-AM"></td>
                    <td id="s-10_30-AM"></td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td id="l-11_00-AM"></td>
                    <td id="m-11_00-AM"></td>
                    <td id="x-11_00-AM"></td>
                    <td id="j-11_00-AM"></td>
                    <td id="v-11_00-AM"></td>
                    <td id="s-11_00-AM"></td>
                </tr>
                <tr>
                    <td>11:30</td>
                    <td id="l-11_30-AM"></td>
                    <td id="m-11_30-AM"></td>
                    <td id="x-11_30-AM"></td>
                    <td id="j-11_30-AM"></td>
                    <td id="v-11_30-AM"></td>
                    <td id="s-11_30-AM"></td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td id="l-12_00-PM"></td>
                    <td id="m-12_00-PM"></td>
                    <td id="x-12_00-PM"></td>
                    <td id="j-12_00-PM"></td>
                    <td id="v-12_00-PM"></td>
                    <td id="s-12_00-PM"></td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td id="l-12_30-PM"></td>
                    <td id="m-12_30-PM"></td>
                    <td id="x-12_30-PM"></td>
                    <td id="j-12_30-PM"></td>
                    <td id="v-12_30-PM"></td>
                    <td id="s-12_30-PM"></td>
                </tr>
                <tr>
                    <td>1:00</td>
                    <td id="l-1_00-PM"></td>
                    <td id="m-1_00-PM"></td>
                    <td id="x-1_00-PM"></td>
                    <td id="j-1_00-PM"></td>
                    <td id="v-1_00-PM"></td>
                    <td id="s-1_00-PM"></td>
                </tr>
                <tr>
                    <td>1:30</td>
                    <td id="l-1_30-PM"></td>
                    <td id="m-1_30-PM"></td>
                    <td id="x-1_30-PM"></td>
                    <td id="j-1_30-PM"></td>
                    <td id="v-1_30-PM"></td>
                    <td id="s-1_30-PM"></td>
                </tr>
                <tr>
                    <td>2 00</td>
                    <td id="l-2_00-PM"></td>
                    <td id="m-2_00-PM"></td>
                    <td id="x-2_00-PM"></td>
                    <td id="j-2_00-PM"></td>
                    <td id="v-2_00-PM"></td>
                    <td id="s-2_00-PM"></td>
                </tr>
                <tr>
                    <td>2:30</td>
                    <td id="l-2_30-PM"></td>
                    <td id="m-2_30-PM"></td>
                    <td id="x-2_30-PM"></td>
                    <td id="j-2_30-PM"></td>
                    <td id="v-2_30-PM"></td>
                    <td id="s-2_30-PM"></td>
                </tr>
                <tr>
                    <td>3:00</td>
                    <td id="l-3_00-PM"></td>
                    <td id="m-3_00-PM"></td>
                    <td id="x-3_00-PM"></td>
                    <td id="j-3_00-PM"></td>
                    <td id="v-3_00-PM"></td>
                    <td id="s-3_00-PM"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>