@{
}
<style>
    .scrollbar {
        height: 68vh;
        width: 100%;
        min-width: 150px;
        background: #fff;
        overflow-y: scroll
    }
    .progress-bar {
        background-color: #ffffff !important;
    }
</style>

<div class="card scrollbar">
    <div class="card-body p-0 overflow">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 1px;">Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Juéves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td>6:30</td>
                    <td id="l-6:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-6:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-6:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-6:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-6:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-6:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>7:00</td>
                    <td id="l-7:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-7:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-7:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-7:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-7:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-7:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>7:30</td>
                    <td id="l-7:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-7:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-7:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-7:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-7:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="l-7:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>8:00</td>
                    <td id="l-8:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-8:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-8:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-8:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-8:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-8:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>8:30</td>
                    <td id="l-8:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-8:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-8:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-8:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-8:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-8:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>9:00</td>
                    <td id="l-9:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-9:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-9:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-9:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-9:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-9:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>9:30</td>
                    <td id="l-9:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-9:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-9:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-9:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-9:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-9:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td id="l-10:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-10:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-10:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-10:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-10:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-10:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>10:30</td>
                    <td id="l-10:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-10:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-10:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-10:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-10:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-10:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td id="l-11:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-11:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-11:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-11:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-11:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-11:00-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>11:30</td>
                    <td id="l-11:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-11:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-11:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-11:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-11:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-11:30-am">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td id="l-12:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-12:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-12:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-12:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-12:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-12:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td id="l-12:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-12:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-12:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-12:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-12:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-12:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1:00</td>
                    <td id="l-1:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-1:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-1:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-1:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-1:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-1:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1:30</td>
                    <td id="l-1:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-1:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-1:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-1:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-1:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-1:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2 00</td>
                    <td id="l-2:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-2:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-2:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-2:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-2:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-2:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2:30</td>
                    <td id="l-2:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-2:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-2:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-2:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-2:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-2:30-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3:00</td>
                    <td id="l-3:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="m-3:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="x-3:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="j-3:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="v-3:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                    <td id="s-3:00-pm">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>