@{
}
<link rel="stylesheet" href="~/css/scroller.css">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                @await Html.PartialAsync("_BuscarProfesor")
            </div>
            <div class="card-body" id="div_horarios_enlazados" style="display:none;">
                @await Html.PartialAsync("_ProfesoresEnlaces")
            </div>
            <div class="card-header" id="formulario_horarios_disponibles" style="display:none;">
                @await Html.PartialAsync("_FormularioHorarioDisponible")
            </div>
            <div class="card-body scrollbar" id="div_table_horarios_asignados" style="display:none">
                <div class="row overflow">
                    <div class="card-body">
                        <table id="tabla_horarios_profesores" class="table table-bordered table-striped" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Curso</th>
                                    <th>Materia</th>
                                    <th>Dia Semana</th>
                                    <th>Hora Inicial - Hora Final</th>
                                    <th style="width: 5%;"></th>
                                </tr>
                            </thead>
                            <tbody id="tbody_horarios_profesores"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ControllerJS/Horarios/ConfigurarEnlaces.js"></script>