@{
}
<style>
    .select2-selection {
        height: 100% !important;
    }
</style>
<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <label>Número Documento:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" autocomplete="off" class="form-control" id="buscar_persona_insumo" placeholder="Enter para buscar" onKeyPress="return soloNumeros(event)" onpaste="return false" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" id="div_resultado_busqueda_empleado_insumo" style="display:none">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <label>Número Documento:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control insumos-prestar" id="documento_persona_insumo" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Nombre Empleado:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control insumos-prestar" id="nombre_persona_insumo" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Nombre Cargo:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" autocomplete="off" class="form-control insumos-prestar" id="cargo_persona_insumo" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Insumo:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-solar-panel"></i></span>
                            </div>
                            <select class="form-control select2 insumos-prestar" id="prestar_insumo">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Cantidad</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>
                                </div>
                                <input class="form-control insumos-prestar" disabled type="text" id="cantidad_prestar_insumo" autocomplete="off" onKeyPress="return soloNumeros(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Motivo</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-industry"></i></span>
                                </div>
                                <input class="form-control insumos-prestar" type="text" id="motivo_prestar_insumo" autocomplete="off" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fecha del prestamo</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control insumos-prestar" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask id="fecha_prestamo_insumo" name="fecha_prestamo_insumo" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="info-box" style="display: flex;min-height: 64px;padding: .5rem;width: 85%;margin-top: 16px;box-shadow: none;">
                            <span class="info-box-icon bg-primary" id="btn_agregar_insumo_prestar" style="width:55px;" onclick="agregarInsumoPrestar()"><i class="fas fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="display:none" id="div_tabla_insumos_necesarios">
                <h4 style="text-align:center">Insumos solicitados</h4>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th style="text-align:center;width: 246px;">Insumo</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_insumolaboral_formurlario">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0 table-responsive" style="text-align: center;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Documento</th>
                                    <th>Suministro</th>
                                    <th>Empleado</th>
                                    <th>Cargo</th>
                                    <th>Cantidad</th>
                                    <th>Motivo</th>
                                    <th>Fecha prestamo</th>
                                    <th style="text-align:left">Quitar</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_prestamo_suministro" style="font-size: 90%;">
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" style="width: 19%;" onclick="prestarInsumos()">Prestar insumos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>