@{
}
<div class="col-12 col-sm-12">
    <div class="card card-primary card-tabs">
        <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                <li class="pt-2 px-3"><h3 class="card-title">Gestión de Suministros</h3></li>
                <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-two-crear-tab" data-toggle="pill" href="#custom-tabs-two-crear" role="tab" aria-controls="custom-tabs-two-crear" aria-selected="true">Crear existencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-two-prestamo-tab" data-toggle="pill" href="#custom-tabs-two-prestamo" role="tab" aria-controls="custom-tabs-two-prestamo" aria-selected="false">Prestamo de Insumos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-two-devolucion-tab" data-toggle="pill" href="#custom-tabs-two-devolucion" role="tab" aria-controls="custom-tabs-two-devolucion" aria-selected="false">Devolución de Insumos</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-two-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-two-crear" role="tabpanel" aria-labelledby="custom-tabs-two-crear-tab">
                    @await Html.PartialAsync("_FormularioCrearInsumos")
                </div>
                <div class="tab-pane fade" id="custom-tabs-two-prestamo" role="tabpanel" aria-labelledby="custom-tabs-two-prestamo-tab">
                    @await Html.PartialAsync("_FormularioPrestamoInsumos")
                </div>
                <div class="tab-pane fade" id="custom-tabs-two-devolucion" role="tabpanel" aria-labelledby="custom-tabs-two-devolucion-tab">
                    @await Html.PartialAsync("_FormularioDevolucionInsumos")
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ControllerJS/Almacen.js"></script>
<script src="~/js/jquery.inputmask.bundle.min.js"></script>