<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Aula Virtual</title>
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/plantilla/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/plantilla/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    @* Login scripts *@
    <script src="~/js/plantilla/jquery/jquery.min.js"></script>
    <script src="~/js/plantilla/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plantilla/adminlte.min.js"></script>
    @if (!User.Identity.IsAuthenticated)
    {
        <!-- Login estilos -->
        <link rel="stylesheet" href="~/css/plantilla/icheck-bootstrap/icheck-bootstrap.min.css">
    }
    else
    {
        <!--select2-->
        <link rel="stylesheet" href="~/css/select2.min.css">
        <link rel="stylesheet" href="~/css/select2-bootstrap4.min.css">
        <!--estilos dashboard perfiles-->
        <link rel="stylesheet" href="~/css/plantilla/datatable/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="~/css/plantilla/datatable/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="~/css/plantilla/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
        <link rel="stylesheet" href="~/css/plantilla/toastr/toastr.min.css">
        <!--estilos multiselectt-->
        <link rel="stylesheet" href="~/css/multiselect.css">
        <!--estilos dashboard layout-->
        <link rel="stylesheet" href="~/js/plantilla/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!--scripts dashboard perfiles-->
        <script src="~/lib/datatable/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatable/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/datatable/dataTables.responsive.min.js"></script>
        <script src="~/lib/datatable/responsive.bootstrap4.min.js"></script>
        <script src="~/js/plantilla/demo.js"></script>
        <script src="~/css/plantilla/toastr/toastr.min.js"></script>
        <script src="~/js/plantilla/sweetalert2/sweetalert2.min.js"></script>
        <script src="~/js/plantilla/bs-custom-file-input/bs-custom-file-input.min.js"></script>
        <!--scripts dashboard layout-->
        <script src="~/js/plantilla/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <script src="~/js/plantilla/adminlte.js"></script>
        <script src="~/js/plantilla/demo.js"></script>
        <script src="~/js/plantilla/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="~/js/plantilla/raphael/raphael.min.js"></script>
        <script src="~/js/plantilla/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/js/plantilla/jquery-mapael/maps/usa_states.min.js"></script>
        <script src="~/js/plantilla/chart.js/Chart.min.js"></script>
        <script src="~/js/plantilla/dashboard2.js"></script>
        <script src="~/js/global.js"></script>
        <!-- Select2 -->
        <script src="~/js/select2.full.min.js"></script>
        <!-- scripts multiselect -->
        <script src="~/js/multiselect.js"></script>
        <script src="~/js/sweetalert.min.js"></script>
        <script src="~/js/plantilla/bootstrap-switch.min.js"></script>

    }
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="wrapper">
            @await Html.PartialAsync("_SlideBar")
        </div>
        <div class="content-wrapper">
            <main role="main" class="pb-3">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div><!--/. container-fluid -->
                </section>
                <!-- /.content -->
            </main>
        </div>
        <footer class="main-footer">
            <strong>Programado por <a href="#">Juan Navarra.</a></strong>
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
    }
    else
    {
        <div class="container">
            <main class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
