<div class="card-header">
    <div class="row">
        <div class="col-md-3">
            <label>Nombre Banco:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" autocomplete="off" class="form-control agregar-cta" id="nombre_banco" />
            </div>
        </div>
        <div class="col-md-3">
            <label>Número CTA:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" autocomplete="off" class="form-control agregar-cta" id="numero_cuenta" />
            </div>
        </div>
        <div class="col-md-3">
            <label>Titular CTA:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" autocomplete="off" class="form-control agregar-cta" id="titular_cuenta" />
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-block" style="margin-top: 32px;" onclick="agregarCuenta()">
                Agregar CTA <i class="fas fa-plus" style="margin-left: 22px;"></i>
            </button>
        </div>
    </div>
</div>