<div class="card-body scrollbar" id="div_table_cuentas">
    <div class="row overflow">
        <div class="card-body">
            <table id="tabla_cuentas" class="table table-bordered table-striped" style="text-align:center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Número</th>
                        <th>Titular</th>
                        <th>Estado</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody id="tbody_cuentas"></tbody>
            </table>
        </div>
    </div>
</div>