
@model Colegio.Models.Col_Usuarios
@{
    ViewBag.Title = "Login";
    ViewBag.Error = "Ususario o contraseña incorrectos";
}

<div class="login-box" style="left: 31%;position: relative;top:24px;">
    <div class="login-logo">
        <a href="#"><b>Aula</b>Virtual.</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Inicio de sesión Plataforma</p>

            @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control txtbox", placeholder = "Usuario", required = "required", id = "user_login"})
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control txtbox", placeholder = "Contraseña", required = "required", id = "pass_login" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" id="login-ingresar" onclick="Cargando()">Ingresar</button>
                        <div id="cargando" style="display:none;">
                            <div style="margin-left: 41px;">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-secondary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-warning" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-info" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-dark" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (!ViewBag.Bool)
        {
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col-12">
                        <div class="alert"
                             style="
                                    background: #f8d7da !important;
                                    color:#721c24 !important;
                                    border-color: #f5c6cb !important;
                                    text-align:center"
                             role="alert">
                            @ViewBag.Error
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/ControllerJS/Login.js"></script>