<!-- /.card-header -->
<div class="card-body">
    <table id="detalle_perfiles_table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre de perfil</th>
                <th>Fecha Creación</th>
                <th>Última Actualizacón</th>
                <th>Último Login</th>
                <th>Módulos visibles</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Administrador</td>
                <td>12/12/22</td>
                <td>12/12/22</td>
                <td>12/12/22</td>
                <td>TODOS</td>
                <td>ACTIVO</td>
                <td>
                    <a href="#">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.card-body -->
<script src="~/js/ControllerJS/perfiles.js"></script>