@{
}
    <div class="tab-pane" role="tabpanel" id="datos_experiencia">
        <input type="hidden" id="id_persona" autocomplete="off">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Empresa donde Laboró *</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-industry"></i></span>
                        </div>
                        <input class="form-control experiencia" type="text" name="empresa" id="empresa" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Cargo del empleado *</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                        </div>
                        <input class="form-control experiencia" type="text" name="cargo_empleado" id="cargo_empleado" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Fecha de Inicio *</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" class="form-control experiencia" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask id="fecha_inicio" name="fecha_inicio">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Fecha de Fin *</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" class="form-control experiencia" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask id="fecha_fin" name="fecha_fin">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>Breve Descripcion de Funciones *</label>
                    <textarea class="form-control experiencia" rows="3" id="descripcion_funciones"></textarea>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Logros Obtenidos *</label>
                    <textarea class="form-control experiencia" rows="3" id="logros_obtenidos"></textarea>
                </div>
            </div>
            <div class="col-md-2">
                <ul class="list-inline pull-right">
                    <li><button type="button" class="btn btn-primary" style="margin-top: 18%;" onclick="agreagarExperiencia();">Agregar Experiencia</button></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-0  table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th style="text-align:center">Empresa</th>
                                    <th style="text-align:center">Cargo</th>
                                    <th style="text-align:center">Fecha inicio</th>
                                    <th style="text-align:center">Fecha fin</th>
                                    <th style="width: 10px;text-align:center">Tiempo</th>
                                    <th style="text-align:center">Funciones</th>
                                    <th style="text-align:center">Logros</th>
                                    <th style="text-align:center">Quitar</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_experiencia_laboral"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label>Hoja de Vida *</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="hoja_vida" name="hoja_vida">
                                <label class="custom-file-label experiencia" for="exampleInputFile">Escoge Uno</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>