@{
}
<div class="tab-pane active" role="tabpanel" id="datos_personales">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Tipo Documento *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-passport"></i></span>
                    </div>
                    <select class="form-control" id="tipo_documento" name="tipo_documento">
                        <option value="0">Selecciona</option>
                        <option value="cc">Cedula Ciudadania</option>
                        <option value="lm">Libreta Militar</option>
                        <option value="ps">Pasaporte</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Número Documento *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-passport"></i></span>
                    </div>
                    <input class="form-control" type="text" name="tipo_documento" id="tipo_documento" pattern="^[0-9]+$">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Primer Nombre *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control" type="text" name="primer_nombre" id="primer_nombre" pattern="[a-zA-Z ]">
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Segundo Nombre</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control" type="text" name="segundo_nombre" id="segundo_nombre" pattern="[a-zA-Z ]">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Primer Apellido *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control" type="text" name="primer_apellido" id="primer_apellido" pattern="[a-zA-Z ]">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Segundo Apellido *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control" type="text" name="segundo_apellido" id="segundo_apellido" pattern="[a-zA-Z ]">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Celular *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" data-inputmask='"mask": "999-999-9999"' data-mask name="celular" id="celular" pattern="^[0-9-]+$">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Correo Personal *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@@</span>
                    </div>
                    <input class="form-control" type="email" name="correo_personal" id="correo_personal">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Direccion *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-street-view"></i></span>
                    </div>
                    <input class="form-control" type="text" name="direccion" id="direccion">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Barrio *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-street-view"></i></span>
                    </div>
                    <input class="form-control" type="text" name="barrio" id="barrio">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Fecha de nacimiento *</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask id="fecha_nacimiento" name="fecha_nacimiento">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Estado Cívil *</label>
                <select class="form-control" id="estado_civil">
                    <option value="0">Seleccione</option>
                    <option value="ca">Casado</option>
                    <option value="so">Soletro</option>
                    <option value="di">Divorciado</option>
                    <option value="ul">Unión Libre</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Información Académica *</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nivel de Formación</label>
                                <input type="text" class="form-control" name="formacion" id="formacion"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Título</label>
                                <input disabled type="text" class="form-control" name="titulo" id="titulo" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nombre de Institucón</label>
                                <input disabled type="text" class="form-control" name="institucion" id="institucion" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Fecha Gradución</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input disabled type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask id="fecha_graduacion" name="fecha_graduacion">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Documentos Anexos *</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="anexo_documento_identidad" name="anexo_documento_identidad">
                                            <label class="custom-file-label">Documento de Identidad</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-inline pull-right">
        <li><button type="button" class="default-btn next-step btn-primary">Continuar</button></li>
    </ul>
</div>